<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel de control del Administrador del sistema</title>
    <!-- IMPORTS -->
    <link rel="stylesheet" type="text/css" href="/styles/global.css">

</head>
<body>
<div>
    <h1>Panel de control del administrador</h1>
    <form action="/goto/user">
        <input style="width: 75%; height: 35%; font-size: 20px" type="submit" value="Gestionar usuarios">
    </form>
    <form action="/goto/event">
        <input style="width: 75%; height: 35%; font-size: 20px" type="submit" value="Gestionar eventos">
    </form>
    <form action="/goto/ticket">
        <input style="width: 75%; height: 35%; font-size: 20px" type="submit" value="Gestionar entradas">
    </form>
</div>
</body>
</html>